
    <form action="register" method="POST">
        
        <label for="first_name">Nombre de usuario</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Apellido de usuario</label>
        <input type="text" name="last_name" required>

        <label for="email">Mail de usuario</label>
        <input type="email" name="email" required>

        <label for="age">Edad</label>
        <input type="text" name="age" required>

        <label for="password">Contraseña</label>
        <input type="text" name="password" required>

        <button type="submit">Crear Usuario</button>

    </form>